.left {
    float:left;
    width: 50%;
}

.right {
    float:right;
    width: 50%;
}

.footclear {
    clear:both;
    
}

.padder {
    padding-bottom: 10px;
    
}

.padtop {
    padding-top: 10px;
    
}

.form-style {
    background-color: #fff;
    padding: 10px;
    
}

.jumbotron {
    background: #fff;
    
}

body {
padding: 30px;
}

.navbar {
margin-bottom: 30px;
}

.wordwrap {
    word-wrap:break-word;
}